
body {
	background: #EEEFEE;
	font-family:sans-serif;
}

caption, th {
	text-align: left;
	font-weight: bold;	
}

table.logs {
min-width: 1000px;
}

.exception {
    max-width:500px;
}

table, th, td {
	vertical-align: top;	
	padding-right:15px;
	border-spacing: 4px;	
}

table.map td {
	border-color: #AAA;
    border-width: 1px;
    border-style: solid;    
    padding: 4px;    
}

.collapsable-ex {
    cursor:pointer;     
}

.collapsable-message {
    cursor:pointer;     
}

.collapsed {
    display: none;
}

.collapsed-info {
	display: none;
}

.odd {
	background: white;
}

.even {
	background: #EDFDED;
}

div.left {
	float:left; 
	width:43%;
}

div.right {
	float:right; 	
}

.time {
	width: 20%;
}

.level {
	width: 5%;
}

.fatal { color:red; font-weight: bold;}
.error { color:red;}
.warn { color:orange;}
.info { color:green;}
.debug { color:blue;}